td {
    font-family: "Futura Medium", Century Gothic, AppleGothic, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

button {
    padding: 0;
    margin: 0;
}

#field {}

#field table {
    border-collapse: collapse;
    margin: 0px auto;
    cursor: pointer;
}

#field table tbody {}
#field table tbody tr {}
#field table tbody tr td {
    width: 20px;
    height: 20px;
    background-color: #dfdfdf;
    box-shadow: 1px 1px 3px #606060 inset;
    border: 1px solid #606060;
}

#field table tbody tr td.hide:hover {
    background-color: #ffcc00;
}

#field table tbody tr td.hide {
    background-color: #202020;
    box-shadow: 1px 1px 3px #000000;
}

.n1 { color: #0806e6; }
.n2 { color: #0d7b25; }
.n3 { color: #cd0014; }
.n4 { color: #04008a; }
.n5 { color: #840000; }
.n6 { color: #18928c; }

.bomb {
    background-image: url('reto3_bomb.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-size: 17px;
}

.flag {
    background-image: url('reto3_flag.png');
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: 14px;
}

